{% extends "app.html" %}
{% load humanize %}

{% block content %}
    <div class="page-header">
      <h1>Goggles</h1>
    </div>
    {% include "includes/messages.html" %}

    <div class="panel panel-default">
        <div class="panel-heading">Profiles</div>
        <div class="panel-body">
            <p>Profiles are things we use to log into Vumi Go with.</p>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Expires on</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in profiles %}
                <tr>
                    <th><a href="{% url 'warehouse:profile' pk=profile.pk %}">{{profile.pk}}</a></th>
                    <th><a href="{% url 'warehouse:profile' pk=profile.pk %}">{{profile.username}}</a></th>
                    <th>{{profile.get_status_display}}</th>
                    <th>{{profile.expires_on}}</th>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div class="pull-right">
                            <a href="{% url 'warehouse:profile_new' %}">
                                <span>profile</span>
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock content %}
