{% extends "app.html" %}
{% load humanize %}
{% load extra_goggles %}

{% block content %}
<div>
    <div class="page-header">
      <h1>Goggles</h1>
    </div>
    <ol class="breadcrumb">
      <li><a href="{% url 'warehouse:dashboard' %}">Goggles</a></li>
      <li><a href="{% url 'warehouse:profile' pk=job.profile.pk %}">{{job.profile}}</a></li>
      <li><a href="{% url 'warehouse:conversation' pk=job.conversation.pk %}">{{job.conversation}}</a></li>
      <li class="active">Messages</li>
    </ol>
</div>
<div>
    <!-- Default panel contents -->
    <div class="panel panel-default">
        <div class="panel-heading">{{job.message_set.count}} Messages sent &amp; received by {{job.conversation}}.</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Username token</dt>
                <dd>{{job.username_token}}</dd>
                <dt>Password token</dt>
                <dd>{{job.password_token}}</dd>
                <dt>Import status</dt>
                <dd>{{job.get_status_display}}</dd>
            </dl>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Source Address</th>
                    <th>Destination Address</th>
                    <th>Direction</th>
                    <th>Content</th>
                    <th>Timestamp</th>
            </thead>
            <tbody>
                {% for message in job.message_set.all %}
                    <tr>
                        <td>{{message.pk}}</td>
                        <td>{{message.from_addr}}</td>
                        <td>{{message.to_addr}}</td>
                        <td>{{message.direction}}</td>
                        <td><pre class="pre-scrollable">{{message.content|force_new_line:60}}</pre></td>
                        <td>{{message.timestamp.isoformat}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}