{% extends "app.html" %}
{% load humanize %}
{% load extra_goggles %}

{% block content %}
<div>
    <div class="page-header">
      <h1>Goggles</h1>
    </div>
    <ol class="breadcrumb">
      <li><a href="{% url 'warehouse:dashboard' %}">Goggles</a></li>
      <li><a href="{% url 'warehouse:profile' pk=job.profile.pk %}">{{job.profile}}</a></li>
      <li><a href="{% url 'warehouse:conversation' pk=job.conversation.pk %}">{{job.conversation}}</a></li>
      <li class="active">Messages</li>
    </ol>
</div>
<div>
    <!-- Default panel contents -->
    <div>
        <ul class="nav nav-pills">
          <li role="presentation"><a href="{% url 'warehouse:job' pk=job.pk %}">Messages</a></li>
          <li role="presentation" class="active"><a href="{% url 'warehouse:job_interactions' pk=job.pk %}">Interactions</a></li>
        </ul>
    </div>
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">{{interaction_set.count}} Interactions in {{job.conversation}}.</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Username token</dt>
                <dd>{{job.username_token}}</dd>
                <dt>Password token</dt>
                <dd>{{job.password_token}}</dd>
                <dt>Import status</dt>
                <dd>{{job.get_status_display}}</dd>
            </dl>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>From Address</th>
                    <th>To Address</th>
                    <th>Question</th>
                    <th>Response</th>
                    <th>Duration (seconds)</th>
            </thead>
            <tbody>
                {% for interaction in interaction_set.all %}
                    <tr>
                        <td>{{interaction.pk}}</td>
                        <td>{{interaction.inbound.from_addr}}</td>
                        <td>{{interaction.inbound.to_addr}}</td>
                        <td>{{interaction.question}}</td>
                        <td>{{interaction.response}}</td>
                        <td>{{interaction.duration}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}